    @model List<M3.Models.Person> 
        <!-- we have to bind with the list because we are sending lists. -->
    @{
        ViewBag.Title = "List";
        Layout = "~/Views/Shared/_loggedin.cshtml";
    }

    <h2>List</h2>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Id</th>
        </tr>
        @for (int i = 0; i < ViewBag.Names.Length; i++) //can not use ViewDate here because it does't contain anything like Length
        {
            <tr>
                <td>@ViewBag.Names[i]</td>
                <td>@(i+1)</td>
                <td>@ViewBag.Dob</td>
            </tr>
        }

        @foreach (var p in Model) //whatever we will pass it will be in Model and pass to i
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Id</td>
                <td>@p.Dob</td>
            </tr>
        }


    </table>

